<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Nossa loja de computadores oferece uma variedade de produtos e acessórios de
                alta qualidade para atender às suas necessidades tecnológicas
                Computadores: De desktops poderosos a laptops ultraleves, temos opções para todos os orçamentos.
                Componentes e Acessórios.
            </p>
        </section>


        <address> //informações de contato
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i>email.com</li>
                <li><i class="fa-solid fa-phone"></i>(00)00000-0000</li>
                <li><i class="fa-brands fa-square-whatsapp"></i>(00)00000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>